In [1]:
# Install necessary packages
!pip install dataretrieval
!pip install statsmodels
#!pip uninstall scikit-learn -y
#!pip install scikit-learn
from dataretrieval import nwis
import pandas as pd
import numpy as np
from statsmodels.tsa.stattools import acf
import sklearn
#print(sklearn.__version__)
from sklearn.model_selection import train_test_split
from sklearn import ensemble
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
# Print current time
current_time = datetime.now()
print(current_time.strftime("%Y-%m-%d %H:%M:%S"))
startDate   =  "1995-10-01"
endDate     =  "2024-09-30"
model_months=  [6 ,7,8]
model_site  = ["12305000","12322000"
              ,"13092747","13150430","13154500","13176400","13190500","13192200","13211205","13213000","13296000","13304050","13307000","13310800","13310850","13311000","13311250","13311450","13317660","13337095","13340000","13340600","13341050","13342500"
              ]
idv         = [ "00060_Mean" ,"tmean" ,"Days_Since_October_1st" ]

Collecting dataretrieval
  Downloading dataretrieval-1.0.12-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from dataretrieval) (2.32.3)
Requirement already satisfied: pandas==2.* in /usr/local/lib/python3.11/dist-packages (from dataretrieval) (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas==2.*->dataretrieval) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas==2.*->dataretrieval) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas==2.*->dataretrieval) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas==2.*->dataretrieval) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->dataretrieval) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->dataretrieval) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->dataretrieval) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->dataretrieval) (2025.6.15)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas==2.*->dataretrieval) (1.17.0)
Downloading dataretrieval-1.0.12-py3-none-any.whl (38 kB)
Installing collected packages: dataretrieval
Successfully installed dataretrieval-1.0.12
Requirement already satisfied: statsmodels in /usr/local/lib/python3.11/dist-packages (0.14.4)
Requirement already satisfied: numpy<3,>=1.22.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (2.0.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (1.15.3)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (2.2.2)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (1.0.1)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)
2025-06-22 20:06:46

In [2]:
from google.colab import drive




drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Site information retrieval
site_info = nwis.get_info(sites= model_site )
site_info_df = pd.DataFrame( site_info[0] )
site_info_df["site_no"]=site_info_df["site_no"].astype(str)
columns_to_save = ['site_no', 'dec_lat_va', 'dec_long_va', 'drain_area_va'
                   ,   'alt_va'
                  ]
filtered_df = site_info_df[columns_to_save]


# Stream data retrieval
parameterCode = ["00010","00060"  ]
dailyStreamtemp = nwis.get_dv(sites= model_site
                              , parameterCd=parameterCode, start=startDate, end=endDate)
dailyStreamtemp_df = pd.DataFrame( dailyStreamtemp[0] )
dailyStreamtemp_df = dailyStreamtemp_df.reset_index()
dailyStreamtemp_df['Date'] = dailyStreamtemp_df['datetime'].dt.date
dailyStreamtemp_df['Month'] = dailyStreamtemp_df['datetime'].dt.month
dailyStreamtemp_df['Year'] = dailyStreamtemp_df['datetime'].dt.year
dailyStreamtemp_df = dailyStreamtemp_df[ dailyStreamtemp_df['Month'].isin( model_months  )    ]
print( dailyStreamtemp_df.head() )

      site_no                  datetime  00010_Maximum 00010_Maximum_cd  \
244  12305000 1996-06-01 00:00:00+00:00            NaN              NaN
245  12305000 1996-06-02 00:00:00+00:00            NaN              NaN
246  12305000 1996-06-03 00:00:00+00:00            NaN              NaN
247  12305000 1996-06-04 00:00:00+00:00            NaN              NaN
248  12305000 1996-06-05 00:00:00+00:00            NaN              NaN

     00010_Minimum 00010_Minimum_cd  00010_Mean 00010_Mean_cd  00060_Mean  \
244            NaN              NaN         NaN           NaN     39200.0
245            NaN              NaN         NaN           NaN     39400.0
246            NaN              NaN         NaN           NaN     41300.0
247            NaN              NaN         NaN           NaN     44400.0
248            NaN              NaN         NaN           NaN     42700.0

    00060_Mean_cd  ...  00010_2_Mean_cd 00010_temperature ysi_Maximum  \
244             A  ...              NaN                           NaN
245             A  ...              NaN                           NaN
246             A  ...              NaN                           NaN
247             A  ...              NaN                           NaN
248             A  ...              NaN                           NaN

     00010_temperature ysi_Maximum_cd 00010_temperature ysi_Minimum  \
244                               NaN                           NaN
245                               NaN                           NaN
246                               NaN                           NaN
247                               NaN                           NaN
248                               NaN                           NaN

     00010_temperature ysi_Minimum_cd 00010_temperature ysi_Mean  \
244                               NaN                        NaN
245                               NaN                        NaN
246                               NaN                        NaN
247                               NaN                        NaN
248                               NaN                        NaN

     00010_temperature ysi_Mean_cd        Date  Month  Year
244                            NaN  1996-06-01      6  1996
245                            NaN  1996-06-02      6  1996
246                            NaN  1996-06-03      6  1996
247                            NaN  1996-06-04      6  1996
248                            NaN  1996-06-05      6  1996

[5 rows x 25 columns]

In [4]:
dailyStreamtemp_df = dailyStreamtemp_df[ ~( (dailyStreamtemp_df["site_no"]=="13310800") & (dailyStreamtemp_df["Year"] == (2015) ) ) ]

print(dailyStreamtemp_df.head())

      site_no                  datetime  00010_Maximum 00010_Maximum_cd  \
244  12305000 1996-06-01 00:00:00+00:00            NaN              NaN
245  12305000 1996-06-02 00:00:00+00:00            NaN              NaN
246  12305000 1996-06-03 00:00:00+00:00            NaN              NaN
247  12305000 1996-06-04 00:00:00+00:00            NaN              NaN
248  12305000 1996-06-05 00:00:00+00:00            NaN              NaN

     00010_Minimum 00010_Minimum_cd  00010_Mean 00010_Mean_cd  00060_Mean  \
244            NaN              NaN         NaN           NaN     39200.0
245            NaN              NaN         NaN           NaN     39400.0
246            NaN              NaN         NaN           NaN     41300.0
247            NaN              NaN         NaN           NaN     44400.0
248            NaN              NaN         NaN           NaN     42700.0

    00060_Mean_cd  ...  00010_2_Mean_cd 00010_temperature ysi_Maximum  \
244             A  ...              NaN                           NaN
245             A  ...              NaN                           NaN
246             A  ...              NaN                           NaN
247             A  ...              NaN                           NaN
248             A  ...              NaN                           NaN

     00010_temperature ysi_Maximum_cd 00010_temperature ysi_Minimum  \
244                               NaN                           NaN
245                               NaN                           NaN
246                               NaN                           NaN
247                               NaN                           NaN
248                               NaN                           NaN

     00010_temperature ysi_Minimum_cd 00010_temperature ysi_Mean  \
244                               NaN                        NaN
245                               NaN                        NaN
246                               NaN                        NaN
247                               NaN                        NaN
248                               NaN                        NaN

     00010_temperature ysi_Mean_cd        Date  Month  Year
244                            NaN  1996-06-01      6  1996
245                            NaN  1996-06-02      6  1996
246                            NaN  1996-06-03      6  1996
247                            NaN  1996-06-04      6  1996
248                            NaN  1996-06-05      6  1996

[5 rows x 25 columns]

In [5]:
shared_url = "https://drive.google.com/file/d/1z9w4rk21CCbbuOjwsru1pgkiOsYgVX6h/view?usp=share_link"
file_id = shared_url.split('/d/')[1].split('/')[0]
download_url = f"https://drive.google.com/uc?id={file_id}"
prism_df = pd.read_csv(download_url)

prism_df['date'] = pd.to_datetime( prism_df['date'])
def days_since_october_first(date):
    october_first = pd.Timestamp(year=date.year, month=10, day=1)
    days_difference = (date - october_first).days
    return days_difference if days_difference >= 0 else days_difference + 365
prism_df['Days_Since_October_1st'] =  prism_df['date'].apply(days_since_october_first)
prism_df[ "rad_d"   ] = 2 * np.pi * prism_df[ "Days_Since_October_1st"   ] /365
prism_df["site_no"] =prism_df["site_no"].astype(str)

# Add a leading 0 to strings with exactly 7 characters
prism_df['site_no'] = prism_df['site_no'].apply(lambda x: '0' + x if len(x) == 7 else x)
prism_df["site_no"] =prism_df["site_no"].astype(str)


prism_df['Date'] = prism_df['date'].dt.date
print( prism_df)

             date      tmean   site_no  Days_Since_October_1st     rad_d  \
0      1995-01-01 -18.306002  06038800                      92  1.583707
1      1995-01-02 -17.829000  06038800                      93  1.600921
2      1995-01-03 -18.317001  06038800                      94  1.618135
3      1995-01-04 -15.904000  06038800                      95  1.635350
4      1995-01-05 -11.903001  06038800                      96  1.652564
...           ...        ...       ...                     ...       ...
282875 2024-10-10  14.149199  13342500                       9  0.154928
282876 2024-10-11  13.611249  13342500                      10  0.172142
282877 2024-10-12  16.385151  13342500                      11  0.189356
282878 2024-10-13  14.676150  13342500                      12  0.206570
282879 2024-10-14  16.204950  13342500                      13  0.223785

              Date
0       1995-01-01
1       1995-01-02
2       1995-01-03
3       1995-01-04
4       1995-01-05
...            ...
282875  2024-10-10
282876  2024-10-11
282877  2024-10-12
282878  2024-10-13
282879  2024-10-14

[282880 rows x 6 columns]

In [6]:
prism_df = prism_df[['tmean' , "site_no", 'Date', "rad_d", "Days_Since_October_1st" ]]
dailyStreamtemp_df = dailyStreamtemp_df[[    'Date',
       'site_no',
  '00010_Mean', '00060_Mean',
       'Month', 'Year' ]]
result = pd.merge(prism_df, dailyStreamtemp_df, on=['Date','site_no'], how='inner')



# Count the number of NaN values in each column
na_count = result.isna().sum()
# Print the result
print(na_count)
# Drop rows with any NaN values
df_cleaned = result.dropna()
# Print the cleaned DataFrame
print(df_cleaned.head())
# Count the number of NaN values in each column
na_count = df_cleaned.isna().sum()
# Print the result
print(na_count )

df_cleaned.to_csv("/content/drive/MyDrive/df_cleaned_summer.csv", index=False)

tmean                         0
site_no                       0
Date                          0
rad_d                         0
Days_Since_October_1st        0
00010_Mean                13289
00060_Mean                 2254
Month                         0
Year                          0
dtype: int64
        tmean   site_no        Date     rad_d  Days_Since_October_1st  \
42  23.403002  13092747  1996-07-13  4.906049                     285
43  23.366001  13092747  1996-07-14  4.923263                     286
44  24.110001  13092747  1996-07-15  4.940477                     287
45  21.022001  13092747  1996-07-16  4.957691                     288
46  21.528002  13092747  1996-07-17  4.974906                     289

    00010_Mean  00060_Mean  Month  Year
42        18.6       120.0      7  1996
43        18.4       130.0      7  1996
44        18.3       132.0      7  1996
45        17.9       134.0      7  1996
46        18.0       155.0      7  1996
tmean                     0
site_no                   0
Date                      0
rad_d                     0
Days_Since_October_1st    0
00010_Mean                0
00060_Mean                0
Month                     0
Year                      0
dtype: int64

In [7]:
for site in model_site:
    print("site:", site)
    merged_df_wy=df_cleaned[df_cleaned['site_no']==site ]
    num_rows = merged_df_wy.shape[0]
    input=  merged_df_wy[  idv]

    if num_rows <90:
        print("stop:", site)
    else:
        # Sort the DataFrame by date to ensure chronological order
        merged_df_wy = merged_df_wy.sort_values(by='Date').reset_index(drop=True)

        # Determine the split point for 80% of the data
        train_size = int(0.8 * len( merged_df_wy ))

        # Split the DataFrame into training and testing sets
        train_df =  merged_df_wy.iloc[:train_size].copy()
        test_df =  merged_df_wy.iloc[train_size:].copy()
        X_train=train_df[idv]
        X_test=test_df[idv]
        y_test=test_df[ "00010_Mean"]
        y_train=train_df[ "00010_Mean"]
        #print( "len(y_train)", len(y_train))
        #print("len(y_test", len(y_test))
        #print( "y_train.tail()",  y_train.tail() )
        #print(" y_test.head()", y_test.head() )
        print("train_df.tail()",train_df.tail())

site: 12305000
train_df.tail()        tmean   site_no        Date     rad_d  Days_Since_October_1st  \
867  15.0209  12305000  2022-06-12  4.372408                     254
868   8.8299  12305000  2022-06-13  4.389623                     255
869   7.8279  12305000  2022-06-14  4.406837                     256
870  14.0716  12305000  2022-06-15  4.424051                     257
871  17.4758  12305000  2022-06-16  4.441265                     258

     00010_Mean  00060_Mean  Month  Year
867        10.0     35000.0      6  2022
868         9.5     34000.0      6  2022
869         8.2     33000.0      6  2022
870         9.1     31000.0      6  2022
871        10.1     27900.0      6  2022
site: 12322000
train_df.tail()          tmean   site_no        Date     rad_d  Days_Since_October_1st  \
757  25.911900  12322000  2022-08-08  5.353618                     311
758  24.969000  12322000  2022-08-09  5.370832                     312
759  24.472099  12322000  2022-08-10  5.388047                     313
760  25.425400  12322000  2022-08-11  5.405261                     314
761  22.094999  12322000  2022-08-12  5.422475                     315

     00010_Mean  00060_Mean  Month  Year
757        15.8     13400.0      8  2022
758        16.5     13400.0      8  2022
759        17.2     13400.0      8  2022
760        17.4     13100.0      8  2022
761        17.0     13000.0      8  2022
site: 13092747
train_df.tail()           tmean   site_no        Date     rad_d  Days_Since_October_1st  \
1096  19.267900  13092747  2021-08-26  5.663474                     329
1097  18.480000  13092747  2021-08-27  5.680688                     330
1098  17.191200  13092747  2021-08-28  5.697902                     331
1099  18.792000  13092747  2021-08-29  5.715116                     332
1100  20.940899  13092747  2021-08-30  5.732331                     333

      00010_Mean  00060_Mean  Month  Year
1096        15.6       148.0      8  2021
1097        15.6       146.0      8  2021
1098        15.5       139.0      8  2021
1099        15.3       139.0      8  2021
1100        15.6       139.0      8  2021
site: 13150430
train_df.tail()           tmean   site_no        Date     rad_d  Days_Since_October_1st  \
1530  19.527500  13150430  2020-08-11  5.405261                     314
1531  19.601900  13150430  2020-08-12  5.422475                     315
1532  17.667400  13150430  2020-08-13  5.439689                     316
1533  18.271999  13150430  2020-08-14  5.456903                     317
1534  20.215500  13150430  2020-08-15  5.474118                     318

      00010_Mean  00060_Mean  Month  Year
1530        17.9        70.5      8  2020
1531        18.0        69.2      8  2020
1532        17.9        68.6      8  2020
1533        17.4        68.3      8  2020
1534        17.6        68.8      8  2020
site: 13154500
train_df.tail()           tmean   site_no        Date     rad_d  Days_Since_October_1st  \
1665  20.421999  13154500  2020-07-08  4.819978                     280
1666  23.179399  13154500  2020-07-09  4.837192                     281
1667  22.974899  13154500  2020-07-10  4.854406                     282
1668  27.024500  13154500  2020-07-11  4.871620                     283
1669  24.566900  13154500  2020-07-12  4.888835                     284

      00010_Mean  00060_Mean  Month  Year
1665        19.5     11800.0      7  2020
1666        19.2     11900.0      7  2020
1667        19.5     11700.0      7  2020
1668        19.6     11700.0      7  2020
1669        19.9     11700.0      7  2020
site: 13176400
train_df.tail()          tmean   site_no        Date     rad_d  Days_Since_October_1st  \
855  18.414200  13176400  2022-07-04  4.751121                     276
856  21.695900  13176400  2022-07-05  4.768335                     277
857  22.143999  13176400  2022-07-06  4.785549                     278
858  23.197599  13176400  2022-07-07  4.802764                     279
859  23.296499  13176400  2022-07-08  4.819978                     280

     00010_Mean  00060_Mean  Month  Year
855        20.5        45.3      7  2022
856        20.9        46.7      7  2022
857        21.8        48.6      7  2022
858        22.6        47.6      7  2022
859        22.9        48.8      7  2022
site: 13190500
train_df.tail()          tmean   site_no        Date     rad_d  Days_Since_October_1st  \
363  22.071299  13190500  2023-08-27  5.680688                     330
364  22.922100  13190500  2023-08-28  5.697902                     331
365  21.441000  13190500  2023-08-29  5.715116                     332
366  13.483999  13190500  2023-08-30  5.732331                     333
367  16.679600  13190500  2023-08-31  5.749545                     334

     00010_Mean  00060_Mean  Month  Year
363        10.2       506.0      8  2023
364        10.1       498.0      8  2023
365        10.1       504.0      8  2023
366        10.0       512.0      8  2023
367        10.0       509.0      8  2023
site: 13192200
train_df.tail()          tmean   site_no        Date     rad_d  Days_Since_October_1st  \
651  15.198001  13192200  2018-06-16  4.441265                     258
652  12.837001  13192200  2018-06-17  4.458479                     259
653  14.606001  13192200  2018-06-18  4.475694                     260
654  15.560000  13192200  2018-06-19  4.492908                     261
655  18.645000  13192200  2018-06-20  4.510122                     262

     00010_Mean  00060_Mean  Month  Year
651         9.1      1830.0      6  2018
652         9.1      1840.0      6  2018
653         9.0      1840.0      6  2018
654         9.5      1830.0      6  2018
655        10.0      1820.0      6  2018
site: 13211205
train_df.tail()          tmean   site_no        Date     rad_d  Days_Since_October_1st  \
597  22.586599  13211205  2023-06-29  4.665050                     271
598  24.960299  13211205  2023-06-30  4.682264                     272
599  25.358299  13211205  2023-07-01  4.699478                     273
600  24.462799  13211205  2023-07-02  4.716693                     274
601  23.442499  13211205  2023-07-03  4.733907                     275

     00010_Mean  00060_Mean  Month  Year
597        18.0       934.0      6  2023
598        18.9       903.0      6  2023
599        19.4       878.0      7  2023
600        19.2       885.0      7  2023
601        19.0       881.0      7  2023
site: 13213000
train_df.tail()          tmean   site_no        Date     rad_d  Days_Since_October_1st  \
123  27.331299  13213000  2022-07-26  5.129833                     298
124  28.628698  13213000  2022-07-27  5.147048                     299
125  29.314999  13213000  2022-07-28  5.164262                     300
126  28.546499  13213000  2022-07-29  5.181476                     301
127  28.951899  13213000  2022-07-30  5.198690                     302

     00010_Mean  00060_Mean  Month  Year
123        22.2       880.0      7  2022
124        22.9       848.0      7  2022
125        23.2       870.0      7  2022
126        23.4       876.0      7  2022
127        23.2       856.0      7  2022
site: 13296000
train_df.tail()          tmean   site_no        Date     rad_d  Days_Since_October_1st  \
791  19.484400  13296000  2020-08-19  5.542974                     322
792  17.341400  13296000  2020-08-20  5.560189                     323
793  17.375000  13296000  2020-08-21  5.577403                     324
794  17.727900  13296000  2020-08-22  5.594617                     325
795  17.684999  13296000  2020-08-23  5.611831                     326

     00010_Mean  00060_Mean  Month  Year
791        15.0        76.8      8  2020
792        14.5        76.4      8  2020
793        13.5        75.3      8  2020
794        13.4        74.2      8  2020
795        13.2        73.6      8  2020
site: 13304050
train_df.tail()          tmean   site_no        Date     rad_d  Days_Since_October_1st  \
209  12.110600  13304050  2024-07-04  4.751121                     276
210  14.870749  13304050  2024-07-05  4.768335                     277
211  16.120800  13304050  2024-07-06  4.785549                     278
212  16.690048  13304050  2024-07-07  4.802764                     279
213  19.179951  13304050  2024-07-08  4.819978                     280

     00010_Mean  00060_Mean  Month  Year
209        11.7        5.28      7  2024
210        12.8        4.68      7  2024
211        13.5        4.56      7  2024
212        13.7        4.86      7  2024
213        14.9        5.10      7  2024
site: 13307000
train_df.tail()          tmean   site_no        Date     rad_d  Days_Since_October_1st  \
623  14.490100  13307000  2023-06-22  4.544550                     264
624  15.159800  13307000  2023-06-23  4.561765                     265
625  17.111900  13307000  2023-06-24  4.578979                     266
626  15.779699  13307000  2023-06-25  4.596193                     267
627  15.915400  13307000  2023-06-26  4.613407                     268

     00010_Mean  00060_Mean  Month  Year
623        12.5      6440.0      6  2023
624        13.7      5870.0      6  2023
625        14.1      5570.0      6  2023
626        14.6      5260.0      6  2023
627        14.2      5140.0      6  2023
site: 13310800
train_df.tail()          tmean   site_no        Date     rad_d  Days_Since_October_1st  \
877  16.865200  13310800  2022-07-21  5.043762                     293
878  15.836499  13310800  2022-07-22  5.060977                     294
879  14.543500  13310800  2022-07-23  5.078191                     295
880  14.564799  13310800  2022-07-24  5.095405                     296
881  16.341600  13310800  2022-07-25  5.112619                     297

     00010_Mean  00060_Mean  Month  Year
877         9.0        14.2      7  2022
878         9.2        13.7      7  2022
879         8.9        13.3      7  2022
880         8.8        12.9      7  2022
881         9.2        12.6      7  2022
site: 13310850
train_df.tail()          tmean   site_no        Date     rad_d  Days_Since_October_1st  \
828  12.368800  13310850  2022-07-10  4.854406                     282
829  12.964800  13310850  2022-07-11  4.871620                     283
830  16.012199  13310850  2022-07-12  4.888835                     284
831  16.684599  13310850  2022-07-13  4.906049                     285
832  16.878899  13310850  2022-07-14  4.923263                     286

     00010_Mean  00060_Mean  Month  Year
828         9.2        15.2      7  2022
829         9.1        14.5      7  2022
830         9.7        13.7      7  2022
831         9.6        13.1      7  2022
832        10.0        12.3      7  2022
site: 13311000
train_df.tail()          tmean   site_no        Date     rad_d  Days_Since_October_1st  \
875  16.865200  13311000  2022-07-21  5.043762                     293
876  15.836499  13311000  2022-07-22  5.060977                     294
877  14.543500  13311000  2022-07-23  5.078191                     295
878  14.564799  13311000  2022-07-24  5.095405                     296
879  16.341600  13311000  2022-07-25  5.112619                     297

     00010_Mean  00060_Mean  Month  Year
875        10.4        26.1      7  2022
876        10.6        24.9      7  2022
877        10.2        24.3      7  2022
878        10.2        23.5      7  2022
879        10.7        23.1      7  2022
site: 13311250
train_df.tail()          tmean   site_no        Date     rad_d  Days_Since_October_1st  \
804  11.075900  13311250  2021-08-08  5.353618                     311
805  10.829100  13311250  2021-08-09  5.370832                     312
806  14.125999  13311250  2021-08-10  5.388047                     313
807  17.493799  13311250  2021-08-11  5.405261                     314
808  18.709900  13311250  2021-08-12  5.422475                     315

     00010_Mean  00060_Mean  Month  Year
804        13.6        11.3      8  2021
805        12.9        11.1      8  2021
806        12.7        10.9      8  2021
807        13.5        10.8      8  2021
808        14.2        10.6      8  2021
site: 13311450
train_df.tail()          tmean   site_no        Date     rad_d  Days_Since_October_1st  \
873  15.836499  13311450  2022-07-22  5.060977                     294
874  14.543500  13311450  2022-07-23  5.078191                     295
875  14.564799  13311450  2022-07-24  5.095405                     296
876  16.341600  13311450  2022-07-25  5.112619                     297
877  17.650200  13311450  2022-07-26  5.129833                     298

     00010_Mean  00060_Mean  Month  Year
873        10.1        26.0      7  2022
874         9.9        25.3      7  2022
875         9.8        24.5      7  2022
876        10.3        23.9      7  2022
877        10.8        23.1      7  2022
site: 13317660
train_df.tail()           tmean   site_no        Date     rad_d  Days_Since_October_1st  \
1393  24.909100  13317660  2021-06-14  4.406837                     256
1394  16.140499  13317660  2021-06-15  4.424051                     257
1395  17.408300  13317660  2021-06-16  4.441265                     258
1396  20.228899  13317660  2021-06-17  4.458479                     259
1397  22.802900  13317660  2021-06-18  4.475694                     260

      00010_Mean  00060_Mean  Month  Year
1393        16.8     30000.0      6  2021
1394        17.3     31300.0      6  2021
1395        17.4     27300.0      6  2021
1396        17.9     25500.0      6  2021
1397        18.3     24700.0      6  2021
site: 13337095
stop: 13337095
site: 13340000
train_df.tail()           tmean   site_no        Date     rad_d  Days_Since_October_1st  \
1694  20.042400  13340000  2019-07-16  4.957691                     288
1695  18.419899  13340000  2019-07-17  4.974906                     289
1696  17.025400  13340000  2019-07-18  4.992120                     290
1697  14.898000  13340000  2019-07-19  5.009334                     291
1698  16.864899  13340000  2019-07-20  5.026548                     292

      00010_Mean  00060_Mean  Month  Year
1694        22.5      3820.0      7  2019
1695        22.2      3710.0      7  2019
1696        21.7      3480.0      7  2019
1697        20.7      3310.0      7  2019
1698        20.6      3140.0      7  2019
site: 13340600
train_df.tail()           tmean   site_no        Date     rad_d  Days_Since_October_1st  \
1796  18.069399  13340600  2020-06-05  4.251909                     247
1797   9.896900  13340600  2020-06-06  4.269123                     248
1798   8.398399  13340600  2020-06-07  4.286337                     249
1799   9.324900  13340600  2020-06-08  4.303552                     250
1800   7.670400  13340600  2020-06-09  4.320766                     251

      00010_Mean  00060_Mean  Month  Year
1796         9.2      9520.0      6  2020
1797         9.2      9620.0      6  2020
1798         7.4      8800.0      6  2020
1799         7.2      8220.0      6  2020
1800         7.1      7370.0      6  2020
site: 13341050
train_df.tail()           tmean   site_no        Date     rad_d  Days_Since_October_1st  \
1609  22.727999  13341050  2020-07-16  4.957691                     288
1610  20.353399  13341050  2020-07-17  4.974906                     289
1611  20.635399  13341050  2020-07-18  4.992120                     290
1612  22.245499  13341050  2020-07-19  5.009334                     291
1613  23.399000  13341050  2020-07-20  5.026548                     292

      00010_Mean  00060_Mean  Month  Year
1609        12.0     16100.0      7  2020
1610        12.2     15800.0      7  2020
1611        12.2     15600.0      7  2020
1612        11.4     18100.0      7  2020
1613        11.4     17900.0      7  2020
site: 13342500
train_df.tail()           tmean   site_no        Date     rad_d  Days_Since_October_1st  \
1824  20.084000  13342500  2019-08-29  5.715116                     332
1825  23.930899  13342500  2019-08-30  5.732331                     333
1826  25.526400  13342500  2019-08-31  5.749545                     334
1827  14.976899  13342500  2020-06-01  4.183052                     243
1828  17.903400  13342500  2020-06-02  4.200266                     244

      00010_Mean  00060_Mean  Month  Year
1824        11.3      9840.0      8  2019
1825        12.1      9210.0      8  2019
1826        12.5      9260.0      8  2019
1827        10.1     57200.0      6  2020
1828         9.6     45100.0      6  2020