In [1]:
!pip install dataretrieval
from dataretrieval import nwis
import numpy as np
import pandas as pd
from datetime import datetime
from google.colab import drive # Mount Google Drive
drive.mount('/content/drive')
current_time = datetime.now()
print(current_time.strftime("%Y-%m-%d %H:%M:%S"))

Requirement already satisfied: dataretrieval in /usr/local/lib/python3.11/dist-packages (1.0.12)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from dataretrieval) (2.32.3)
Requirement already satisfied: pandas==2.* in /usr/local/lib/python3.11/dist-packages (from dataretrieval) (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas==2.*->dataretrieval) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas==2.*->dataretrieval) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas==2.*->dataretrieval) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas==2.*->dataretrieval) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->dataretrieval) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->dataretrieval) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->dataretrieval) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->dataretrieval) (2025.8.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas==2.*->dataretrieval) (1.17.0)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
2025-08-13 03:45:49

In [2]:
kmeans_ws_path = '/content/drive/MyDrive/kmeans_ws.csv'
#ws_char_path  = '/content/drive/MyDrive/ws_charateristics_202506191550.csv'
site_amp3_path  = '/content/drive/MyDrive/site_amp3_202506191536.csv'

kmeans_ws_df  = pd.read_csv(kmeans_ws_path)
#ws_char_df    = pd.read_csv(ws_char_path)
site_amp3_df  = pd.read_csv(site_amp3_path)

# 3️⃣ (Optional) sanity‑check
print(kmeans_ws_df.head())
#print(ws_char_df.head())
print(site_amp3_df.head())

merged_df = pd.merge(
    kmeans_ws_df[['site_no', 'labels']],
#    ws_char_df[['site_no', 'dam_and_diversion']],
    site_amp3_df[['site_no','dam_and_diversion','amp'  ,'ph_l' ]],
    on='site_no',
    how='inner'  # or 'left', 'right', 'outer' depending on your needs
)

print(merged_df)

df_summer = pd.read_csv("/content/drive/MyDrive/df_cleaned_summer.csv")

# Merge with the existing dataframe
reg_df = pd.merge(merged_df, df_summer, on='site_no')

reg_df

    site_no  drain_area_va   alt_va                        labels  \
0  12305000        11740.0  1794.75   Low-Elevation Large Streams
1  12322000        13700.0  1700.00   Low-Elevation Large Streams
2  13092747          259.0  3630.00  Mid-Elevation Medium Streams
3  13150430           70.0  4834.45  Mid-Elevation Medium Streams
4  13154500        35800.0  2495.13   Low-Elevation Large Streams

   drain_area_km2        alt_m
0    30406.309266   547.039800
1    35482.660728   518.160000
2      670.803586  1106.424000
3      181.298266  1473.540360
4    92721.113434   760.515624
   Unnamed: 0      site       amp       ph_l   site_no  dec_lat_va  \
0           0  12305000  0.501713  28.067854  12305000   48.616883
1           1  12322000  0.595400  22.359741  12322000   48.996389
2           2  13092747  0.471255   6.327435  13092747   42.562500
3           3  13150430  0.632628  -7.784095  13150430   43.323361
4           4  13154500  0.439203   2.744142  13154500   43.002222

   dec_long_va  drain_area_va   alt_va  \
0  -116.049194        11740.0  1794.75
1  -116.507500        13700.0  1700.00
2  -114.494722          259.0  3630.00
3  -114.108350           70.0  4834.45
4  -115.202500        35800.0  2495.13

                                             comment  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4  springs and seepage entering below Milner, irr...

                                     dike_regulation     dam     diversion  \
0                                                NaN     Dam  No diversion
1  Boundary dike of Reclamation Farm and U.S. For...     Dam  No diversion
2                                                NaN  No dam     Diversion
3                                                NaN  No dam     Diversion
4                                                NaN     Dam     Diversion

   dam_and_diversion
0                Dam
1                Dam
2          Diversion
3          Diversion
4  Dam and diversion
     site_no                        labels   dam_and_diversion       amp  \
0   12305000   Low-Elevation Large Streams                 Dam  0.501713
1   12322000   Low-Elevation Large Streams                 Dam  0.595400
2   13092747  Mid-Elevation Medium Streams           Diversion  0.471255
3   13150430  Mid-Elevation Medium Streams           Diversion  0.632628
4   13154500   Low-Elevation Large Streams   Dam and diversion  0.439203
5   13176400  Mid-Elevation Medium Streams  No flow regulation  0.945167
6   13190500  Mid-Elevation Medium Streams   Dam and diversion  0.258282
7   13192200  Mid-Elevation Medium Streams                 Dam  0.399247
8   13211205   Low-Elevation Large Streams           Diversion  0.613282
9   13213000   Low-Elevation Large Streams           Diversion  0.656940
10  13296000  High-Elevation Small Streams  No flow regulation  0.567011
11  13304050  High-Elevation Small Streams           Diversion  0.569762
12  13307000  Mid-Elevation Medium Streams           Diversion  0.759584
13  13310800  High-Elevation Small Streams  No flow regulation  0.422738
14  13310850  High-Elevation Small Streams  No flow regulation  0.442767
15  13311000  High-Elevation Small Streams  No flow regulation  0.482903
16  13311250  High-Elevation Small Streams  No flow regulation  0.520727
17  13311450  High-Elevation Small Streams  No flow regulation  0.444537
18  13317660            Very Large Streams   Dam and diversion  0.824244
19  13340000   Low-Elevation Large Streams  No flow regulation  0.913567
20  13340600   Low-Elevation Large Streams  No flow regulation  0.762943
21  13341050   Low-Elevation Large Streams                 Dam  0.418316
22  13342500   Low-Elevation Large Streams   Dam and diversion  0.460745

         ph_l
0   28.067854
1   22.359741
2    6.327435
3   -7.784095
4    2.744142
5   -4.255680
6   52.710403
7   20.470535
8   12.576885
9    8.897418
10   4.645172
11   2.420003
12   2.251612
13   5.343710
14   6.097145
15   5.019632
16   6.568820
17   3.621792
18  17.400700
19  10.524372
20  10.089354
21  10.479532
22   9.294641

,site_no,labels,dam_and_diversion,amp,ph_l,tmean,Date,rad_d,Days_Since_October_1st,00010_Mean,00060_Mean,Month,Year
0,12305000,Low-Elevation Large Streams,Dam,0.501713,28.067854,15.100000,2012-06-01,4.183052,243,8.5,31500.0,6,2012
1,12305000,Low-Elevation Large Streams,Dam,0.501713,28.067854,13.240001,2012-06-02,4.200266,244,8.5,37500.0,6,2012
2,12305000,Low-Elevation Large Streams,Dam,0.501713,28.067854,14.009001,2012-06-03,4.217481,245,8.5,40100.0,6,2012
3,12305000,Low-Elevation Large Streams,Dam,0.501713,28.067854,16.588001,2012-06-04,4.234695,246,9.5,39900.0,6,2012
4,12305000,Low-Elevation Large Streams,Dam,0.501713,28.067854,10.858001,2012-06-05,4.251909,247,10.0,42200.0,6,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28485,13342500,Low-Elevation Large Streams,Dam and diversion,0.460745,9.294641,17.330099,2024-08-27,5.680688,330,11.4,10500.0,8,2024
28486,13342500,Low-Elevation Large Streams,Dam and diversion,0.460745,9.294641,15.716600,2024-08-28,5.697902,331,10.9,10600.0,8,2024
28487,13342500,Low-Elevation Large Streams,Dam and diversion,0.460745,9.294641,18.979599,2024-08-29,5.715116,332,11.1,10600.0,8,2024
28488,13342500,Low-Elevation Large Streams,Dam and diversion,0.460745,9.294641,22.762400,2024-08-30,5.732331,333,11.3,10500.0,8,2024
28489,13342500,Low-Elevation Large Streams,Dam and diversion,0.460745,9.294641,25.167549,2024-08-31,5.749545,334,11.3,10600.0,8,2024

In [3]:
ordered_sites = reg_df.sort_values('dam_and_diversion')['site_no'].unique()

print("ordered_sites",ordered_sites)

ordered_sites [12305000 13341050 13192200 12322000 13317660 13342500 13190500 13154500
 13092747 13213000 13150430 13211205 13307000 13304050 13340000 13340600
 13176400 13310850 13310800 13311000 13296000 13311450 13311250]

In [4]:
#print(df.head())
print("ordered_sites:",ordered_sites)
#print(ax1.get_xticklabels())
#print(type(ordered_sites))
#print( (ordered_sites.shape))
arr = np.arange(1,  ordered_sites.shape[0]+1)
print("arr:",arr)

ordered_sites: [12305000 13341050 13192200 12322000 13317660 13342500 13190500 13154500
 13092747 13213000 13150430 13211205 13307000 13304050 13340000 13340600
 13176400 13310850 13310800 13311000 13296000 13311450 13311250]
arr: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

In [5]:
# Create the DataFrame
ordered_sites_label = pd.DataFrame({
    'ordered_sites': ordered_sites,
    'arr': arr
})

# Display the DataFrame
print(ordered_sites_label)

    ordered_sites  arr
0        12305000    1
1        13341050    2
2        13192200    3
3        12322000    4
4        13317660    5
5        13342500    6
6        13190500    7
7        13154500    8
8        13092747    9
9        13213000   10
10       13150430   11
11       13211205   12
12       13307000   13
13       13304050   14
14       13340000   15
15       13340600   16
16       13176400   17
17       13310850   18
18       13310800   19
19       13311000   20
20       13296000   21
21       13311450   22
22       13311250   23

get lat and lon

In [6]:
# Sample DataFrame to mimic the user's input
# Replace this with your actual DataFrame
#data = {'ordered_sites': ['01646500', '01638500', '01638000', '01643000'],
#        'other_data': ['A', 'B', 'C', 'D']}
#ordered_sites_label = pd.DataFrame(data)

# Create empty lists to store the fetched latitude and longitude
latitudes = []
longitudes = []

# Iterate over each site ID in the 'ordered_sites' column
for site_id in ordered_sites_label['ordered_sites']:
    try:
        # Use dataretrieval's nwis.get_site_info to get site details
        site_info_tuple = nwis.get_info(sites= str(site_id) )
        site_info= site_info_tuple[0]

        # The result is a DataFrame; we extract the 'dec_lat_va' and 'dec_long_va'
        # Check if the result is not empty before trying to access it
        if not site_info.empty:
            latitude = site_info['dec_lat_va'].iloc[0]
            longitude = site_info['dec_long_va'].iloc[0]
            latitudes.append(latitude)
            longitudes.append(longitude)
        else:
            # Append NaN if no data is found for the site
            latitudes.append(None)
            longitudes.append(None)
            print(f"No data found for site ID: {site_id}")

    except Exception as e:
        # Handle potential errors during the API call
        print(f"Error fetching data for site ID {site_id}: {e}")
        latitudes.append(None)
        longitudes.append(None)

# Add the new latitude and longitude lists as columns to the DataFrame
ordered_sites_label['lat'] = latitudes
ordered_sites_label['lon'] = longitudes

# Print the updated DataFrame
print(ordered_sites_label)

    ordered_sites  arr        lat         lon
0        12305000    1  48.616883 -116.049194
1        13341050    2  46.500278 -116.392500
2        13192200    3  43.550556 -115.721944
3        12322000    4  48.996389 -116.507500
4        13317660    5  46.003056 -116.916944
5        13342500    6  46.448333 -116.827500
6        13190500    7  43.343611 -115.477500
7        13154500    8  43.002222 -115.202500
8        13092747    9  42.562500 -114.494722
9        13213000   10  43.781667 -116.972778
10       13150430   11  43.323361 -114.108350
11       13211205   12  43.677353 -116.701131
12       13307000   13  45.322500 -114.440000
13       13304050   14  44.688792 -113.370406
14       13340000   15  46.478333 -116.257500
15       13340600   16  46.840556 -115.621111
16       13176400   17  42.261369 -116.868442
17       13310850   18  44.889528 -115.360222
18       13310800   19  44.902250 -115.325667
19       13311000   20  44.905722 -115.329500
20       13296000   21  44.278889 -114.733889
21       13311450   22  44.936361 -115.337222
22       13311250   23  44.934778 -115.336694

In [7]:
import dataretrieval.nwis as nwis

# Specify the USGS site code
site_id = '03339000'

# Get site information
site_info_df, site_metadata = nwis.get_site_info(sites=site_id)

# Print the site information DataFrame
print(site_info_df)

AttributeError: module 'dataretrieval.nwis' has no attribute 'get_site_info'